/************* theme helper admin css *********/
.themehelper-wrap {
  background-color: #efefef;
  border: 1px solid #999;
  border-radius: 10px;
margin: 20px 0;
  }
.themehelper-header-link {
  display: inline-block;
  vertical-align: top;
  margin: 15px 20px;
}
.themehelper-title {
  display: inline-block;
}
.themehelper-header-save .submit {
  margin: 0;
  padding: 0;
  text-align: right;
}

.clear-both {
clear:both;
}

.themehelper-header, .themehelper-header-save {
  padding: 10px 30px;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
}

.themehelper-donation {
  float: right;
}


/***** theme helper tabs **********/

ul.tab-links {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
}
.tab-content {
  padding: 0 20px 20px 20px;
  background: #fff;
  display: inline-block;
  width: 79%;
  vertical-align: top;
  box-sizing: border-box;
  background: #FFF;
}
li.active a, li.active a:hover, .tab-links a:hover {
  background-color: #FFF;
  color: #333;
}

.tab-links li {
  margin: 0;
  float: none;
  list-style: none;
  display: block;
  box-sizing: border-box;
}


.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  background-color: #efefef;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  transition: all linear 0.15s;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  border-bottom: 1px solid #dedede;
   background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 40px;
 }

 li.th-menu-deatils a {
  background-position: 10px -70px;
}
li.th-menu-color a {
  background-position: 10px -16px;
}
li.th-menu-sm a {
  background-position: 10px -100px;
}
li.th-menu-banner a {
  background-position: 10px -40px;
}
 
#adduser .form-field input, input.regular-text {
  background-color: #efefef;
  color: #999;
  padding: 5px 10px;
  width: 85%;
  box-sizing: border-box;
}
  .themehelper-img {
  padding: 10px 0;
}
.themehelper-content {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


/********** end ***********/	
	
	
	.helper-col textarea, .helper-col input {
  width: 90%;

  box-sizing: border-box;
    background-color: #fafafa;
  color: #999;
  padding: 5px 10px;
}
.themehelper-container {
  display: block;
  width: 100%;
  border-bottom: 1px solid #dedede;
}

.col2 {
  display: inline-block;
  vertical-align: top;
  width: 13%;
}
.col22 {
  display: inline-block;
  width: 36%;
}
.theme.helper-col {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 10px 0;
  box-sizing: border-box;
}

.themehelper-wrap input.color-box {
  border: 3px solid #eee;
  border-radius: 0;
  height: 50px;
  box-sizing: border-box;
  width: 50px;
 margin: 5px auto;
  display: block;
}



.themehelper-container h2 {
  font-size: 25px;
  font-weight: bold;
}


.themehelper-textarea {
	width:100% !important;
	height:100px;
}
.themehelper-social-media-container {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.color-box-scheme {
  display: inline-block;
  width: 30%;
}
.col3 {
  display: inline-block;
  width: 32%;
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}
.col3 h4 {
  margin: 0 0 5px;
}


/******** switcher *********/

.color-box-container-wrap {
  position: relative;
  min-height: 170px;
  clear: both;
  margin: 25px 0;
}

.color-box-container {
  display: inline-block;
}
.color-box-container label {
  background: #eee;
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  display: block;
}

.color-tab-content {
  position: absolute;
  top: 88px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.themehelper-wrap [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
.themehelper-wrap [type=radio]:checked ~ label ~ .color-tab-content {
  z-index: 1;
}

/**** switcher end *****/



/****tabs ****/

/*----- Tabs -----*/
.th-tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 

 
   
 

 
 
 
    /*----- Content of Tabs -----*/

 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }